<form method="post">
    <input name="username" placeholder="Tài khoản" />
    <input name="password" type="password" placeholder="Mật khẩu" />
    <button>Đăng nhập</button>
</form>

<a href="/Account/Register">Đăng ký</a>
<p>@ViewBag.Error</p>