<form method="post">
    <input name="username" placeholder="Tài khoản" />
    <input name="password" type="password" placeholder="Mật khẩu" />
    <input name="confirmPassword" type="password" placeholder="Nhập lại mật khẩu" />

    <button type="submit">Đăng ký</button>
</form>

<p>@ViewBag.Error</p>